<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add page</title>
  </head>
  <body>
    <a href="/">main</a>
    <h1>add new car</h1>
    <a href="/cars/"></a>
    <form action="/cars" method="POST">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" />
      <label for="Color">Color:</label>
      <input type="text" name="Color" id="Color" />
      <button type="submit">Add Cars</button>
    </form>
  </body>
</html>
